body{

    background-image: url("../images/fundo.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
    z-index: 2;

}

.icon{

    color: white;
    font-size: 1.5rem;
    margin-left: 0.5rem;

}

.bordinha{

    position: relative;
    width: 40rem;
    height: 70vh;
    margin: auto;
    top: 8vh;
    background-image: url("../images/chat texture.jpg");
    padding: 1rem;
    padding-top: 0.2rem;
    border-radius: 0.4rem;
    text-align: end;

}

.chat{

    height: 82%;
    display: flex;
    flex-direction: column;
    background-color: rgb(250, 250, 250);
    border-radius: 0.4rem;

    overflow: auto;

}

div.write{

    width: 100%;
    margin-top: 1rem;

}

input.write{

    width: 90%;
    margin: 0;
    border-width: 1px;

}

button.send{

    margin-left: 1rem;
    background-color: black;
    border-width: 1px;
    height: 2.5rem;
    width: 2.5rem;
    padding: 0;

}

i.send{

    margin: auto;
    margin-top: 0.2rem;
    margin-right: 0.1rem;

}

.message{

    padding: 1rem;
    margin: 1rem;
    background-color: lightgray;
    text-align: left;
    height: auto;
    width: fit-content;
    max-width: 80%;
    word-wrap: break-word;
    text-align: justify;
    border-radius: 0.5rem;

}

.owner{

    background-color: rgb(0, 194, 194);
    margin-left: auto;

}

.minChats{
    position: absolute;
    bottom: 0;
    margin-left: 1rem;
    display: flex;
}
.minChat{

    background-color: rgb(37, 37, 37);
    color: white;
    padding: 0;
    border: none;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;

}
div.minChat{

    width: 15rem;
    padding-top: 0.4rem;
    
}
button.minChat{

    width: 100%;
    text-align: left;

}
.minIcon{

    margin-left: 1rem;
    margin-right: 1.5rem;

}
.minCloseIcon{

    position: absolute;
    left: 90%;
    top: 10px;
    margin: 0;
    padding: 0;

}


div.conxIcon{

    position: absolute;
    margin: 0,5rem;
    margin-left: 1rem;
    color: white;
    font-size: 2rem;
    z-index: 5;

}
label.conxIcon{

    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;

}
.cod{

    background-color: rgb(37, 37, 37);
    border: white 1px solid;
    color: white;
    width: fit-content;
    border-radius: 0.1rem;
    margin-bottom: 0.4rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;

}
input.cod{

    width: 10rem;
    margin-right: 1rem;

}
button.conxBtn{

    margin: auto;

}

div.userInfo{

    height: 100%;
    width: max-content;
    position: absolute;
    top: 0px;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 1rem;
    left: 13rem;
    border-bottom-right-radius: 0.5rem;

}
div.conx{

    display: flex;
    flex-direction: column;
    background-color: rgb(37, 37, 37);

}
div.conxBox{

    background-color: rgb(37, 37, 37);
    padding: 1rem;
    padding-top: 3.2rem;
    padding-left: 2rem;
    width: fit-content;
    position: absolute;
    border-bottom-right-radius: 0.5rem;
    color: white;
    z-index: 4;

}